.card {
  box-shadow: .2rem .2rem .1rem gray;
  border: .3rem solid black;
  border-radius: 1rem;
  // grid-column: 1 / span 4;
  width: 35rem;
  min-width: 25rem;
  margin: 1.6rem;

  &__title-wrapper {
    display: flex;
    justify-content: space-around;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom: .3rem solid black;
  }
  &__content {
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  
}
