$tablet: 600px;
$laptop: 1080px;
$desktop: 1280px;

$mq-tablet: 'screen and (min-width: #{$tablet})';
$mq-laptop: 'screen and (min-width: #{$laptop})';
$mq-desktop: 'screen and (min-width: #{$desktop})';

@mixin screen-tablet {
  @media #{$mq-tablet} {
    @content
  }
};

@mixin screen-laptop {
  @media #{$mq-laptop} {
    @content
  }
};

@mixin screen-desktop {
  @media #{$mq-desktop} {
    @content
  }
};